@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(./root.css);


/* ======================================header CSS CODE============================================ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    list-style-type: none !important;
    text-decoration: none !important;
    box-sizing: border-box;
}

.bg-yellow {
    background: var(--bg-yellow);

}

.fonts {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s);
    font-style: normal;
    font-weight: 400;
    line-height: 180%;
}

.fonts:hover {
    color: var(--bg-red);
}

.pt-11 {
    padding-top: 11px;
}

.pb-11 {
    padding-bottom: 11px;
}

.gap-38 {
    gap: 38px;
}

.button {
    color: var(--bs-red);
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: inline-flex;
    padding: 12px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: #FFF;
}

.button:hover {
    color: #FFF;
    background-color: var(--bg-red);
}

.btn2 {
    display: inline-flex;
    padding: 15px 32px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 10px;
    background: var(--bg-red);
    color: var(--bs-white);
    font-family: 'Roboto', sans-serif;
    font-size: var(--fs-sm);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}



.c-p {
    cursor: pointer;
}



.heading1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-xl);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heading2 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-lg);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.heading3 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-md);
    font-weight: 700;
}

.para1 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s);
    font-weight: 400;
    text-align: center;
}

.para2 {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-sm);
    font-weight: 400;
    max-width: 522px;
}

.ff-up {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s);
    font-weight: 600;
    text-align: left;

}

.ff-do {
    font-family: 'Poppins', sans-serif;
    font-size: var(--fs-s);
    font-weight: 400;
    text-align: left;
    max-width: 866px;
}

.max-w591px {
    max-width: 591px;
}

.pt-66 {
    padding-top: 66px;
}

.pt-24 {
    padding-top: 24px;
}

.pt-73 {
    padding-top: 73px;
}

.pt-27 {
    padding-top: 27px;
}

.pb-58 {
    padding-bottom: 58px;
}

.pt-31 {
    padding-top: 31px;
}

.pt-29 {
    padding-top: 29px;
}

.pb-107 {
    padding-bottom: 107px !important;
}

.pb-97 {
    padding-bottom: 97px;
}

.pt-73 {
    padding-top: 73px;
}

.pb-38 {
    padding-bottom: 38px;
}

.pt-26 {
    padding-top: 26px;
}

.pt-88 {
    padding-top: 88px;
}

.gap-46 {
    gap: 46px;
}

.pt-52 {
    padding-top: 52px;
}

.pt-58 {
    padding-top: 58px;
}

.pb-27 {
    padding-bottom: 27px;
}

.pb-68 {
    padding-bottom: 68px;
}

.pt-42 {
    padding-top: 42px;
}

.mt-48 {
    margin-top: 48px;
}

.mb-30 {
    margin-bottom: 30px;
}

.pb-115 {
    padding-bottom: 115px;
}

.pt-18 {
    padding-top: 18px;
}

.pos-abs1 {
    position: absolute;
    bottom: 0;
    top: 47%;
    left: 5%;
}

.pos-abs2 {
    position: absolute;
    top: 43%;
    left: 23%;
}

.pos-abs3 {
    position: absolute;
    top: 72%;
    left: 1%;
}

.pos-abs4 {
    position: absolute;
    top: 80%;
    left: 21%;
}

.pos-ab1 {
    position: absolute;
    bottom: 0;
    top: 44%;
    right: 24%;
}

.pos-ab2 {
    position: absolute;
    bottom: 0;
    top: 46%;
    right: 23px;
}

.pos-ab3 {
    position: absolute;
    bottom: 0;
    top: 74%;
    right: 20%;
}

.pos-ab4 {
    position: absolute;
    bottom: 0;
    top: 77%;
    right: 20px;
}

ul {
    padding-left: 0;
}

/* ======================================header CSS CODE============================================ */

.bg {
    background: var(--bg-red);
}

.bg3 {
    background: var(--bg-light);
}


.content {
    padding: 20px 30px;
    background-color: var(--bg-white);
    position: relative;
    border-radius: 6px;
}



.text-align-center {
    text-align: center;
}

.pos-absolute9 {
    position: absolute;
    top: 28%;
    left: 7%;
}

.pos-absolute10 {
    position: absolute;
    left: 28%;
    top: 11%;
}

.pos-absolute11 {
    position: absolute;
    top: 11%;
    right: 2%
}

.pos-absolute12 {
    position: absolute;
    left: 5%;
    top: 75%;
}

.pos-absolute13 {
    position: absolute;
    top: 58%;
    left: 29%;
}

.pos-absolute14 {
    position: absolute;
    top: 77%;
    right: 26%;
}

.pos-absolute15 {
    position: absolute;
    top: 26%;
    right: 28%;
}


.pos-absolute16 {
    position: absolute;
    top: 66%;
    right: 7%;
}


.timeline {
    position: relative;
    width: 100%;
    margin: 0 auto;
}

ol li {
    list-style-type: decimal !important;
}

.cont {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.cont::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -14px;
    background-color:var(--bg-white);
    border: none;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
}

.right {
    left: 50%;
}

.right::after {
    left: -12px;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: var(--bg-red);
    top: 4%;
    bottom: 33%;
    left: 50%;
    margin-left: -3px;
}

.accordion-button:focus {
    border-color: none !important;
    box-shadow: none !important;
}

.accordion-flush .accordion-item .accordion-button.collapsed {
    border-radius: 0;
    background: var(--bg-light);
}

.accordion-item {
    background: var(--bg-light) !important;
    margin-bottom: 20px !important;
    max-width: 922px;
    margin-left: auto;
    margin-right: auto;
}

.accordion {
    --bs-accordion-border-color: none;
    --bs-accordion-bg: none;
    background: var(--bg-light) transparent !important;
}

.accordion-button:not(.collapsed) {
    box-shadow: none;
    background-color: var(--bg-light) !important;
    color: #000;
}

@media (max-width: 350px) {
    .timeline::after {
        content: '';
        position: absolute;
        width: 6px;
        background-color: var(--bg-red);
        top: 4%;
        bottom: 32%;
        left: 50%;
        margin-left: -3px;
    }
}

@media (min-width:576px) {
    .pt-100 {
        padding-top: 100px;
    }
}

@media (min-width:320px) {
    .pt-80 {
        padding-top: 80px;
    }
}

@media screen and (max-width: 800px) {

    .timeline::after {
        left: 31px;
    }

    .cont {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    .cont::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    .left::after,
    .right::after {
        left: 19px;
    }

    .right {
        left: 0%;
    }
}

@media (min-width: 992px) {
    .w-lg-30 {
        width: 30% !important;
    }

    .pt-lg-114 {
        padding-top: 114px;
    }

    .pt-lg-0 {
        padding-top: 0;
    }

    .w-lg-60 {
        width: 60% !important;
    }
}

@media (max-width:1200px) {
    label[for="menubar"] {
        display: flex;
        width: 30px;
        height: 19px;
        flex-direction: column;
        z-index: 3;
        cursor: pointer;
        justify-content: space-between;
    }

    label[for="menubar"]>span {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        width: 5px;
        height: 100%;
        z-index: 2;
        cursor: pointer;

    }

    label[for="menubar"]>span {
        width: 100%;
        height: 3px;
        border-radius: 0px;
        background: var(--bg-red);
    }


    .z-index {
        z-index: 1;
    }

    .mobile-view {
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: var(--bg-yellow);
        flex-direction: column;
        z-index: 2;
        transition: all 200ms linear;
    }

    input[type="checkbox"][id="menubar"]:checked+ul.mobile-view {
        left: 0;
        pointer-events: all;
        opacity: 1;
    }

    .nav {
        position: fixed !important;
        z-index: 3;
        right: 0px;
        left: 0;
        top: 0%;
    }

    .pt-34 {
        padding-top: 34px;
    }
}